In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_df = pd.read_csv("data_set_ALL_AML_train.csv")
train_df.head()

,Gene Description,Gene Accession Number,1,call,2,call.1,3,call.2,4,call.3,...,29,call.33,30,call.34,31,call.35,32,call.36,33,call.37
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-214,A,-139,A,-76,A,-135,A,...,15,A,-318,A,-32,A,-124,A,-135,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-153,A,-73,A,-49,A,-114,A,...,-114,A,-192,A,-49,A,-79,A,-186,A
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,-58,A,-1,A,-307,A,265,A,...,2,A,-95,A,49,A,-37,A,-70,A
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,88,A,283,A,309,A,12,A,...,193,A,312,A,230,P,330,A,337,A
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-295,A,-264,A,-376,A,-419,A,...,-51,A,-139,A,-367,A,-188,A,-407,A

In [3]:
test_df = pd.read_csv("data_set_ALL_AML_independent.csv")
test_df.head()

,Gene Description,Gene Accession Number,39,call,40,call.1,42,call.2,47,call.3,...,65,call.29,66,call.30,63,call.31,64,call.32,62,call.33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-342,A,-87,A,22,A,-243,A,...,-62,A,-58,A,-161,A,-48,A,-176,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-200,A,-248,A,-153,A,-218,A,...,-198,A,-217,A,-215,A,-531,A,-284,A
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,41,A,262,A,17,A,-163,A,...,-5,A,63,A,-46,A,-124,A,-81,A
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,328,A,295,A,276,A,182,A,...,141,A,95,A,146,A,431,A,9,A
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-224,A,-226,A,-211,A,-289,A,...,-256,A,-191,A,-172,A,-496,A,-294,A

In [4]:
label_df = pd.read_csv("actual.csv")
label_df.head()

   patient cancer
0        1    ALL
1        2    ALL
2        3    ALL
3        4    ALL
4        5    ALL

In [5]:
#Dropping columns containing call

In [6]:
cols_to_drop_test = []
for col in test_df.columns:
    if 'call' in col:
        cols_to_drop_test.append(col)

test_data = test_df.drop(columns=cols_to_drop_test)
test_data.shape

(7129, 36)

In [7]:
cols_to_drop_train = []
for col in train_df.columns:
    if 'call' in col:
        cols_to_drop_train.append(col)

train_data = train_df.drop(columns=cols_to_drop_train)
train_data.shape

(7129, 40)

In [8]:
train_data.head()

,Gene Description,Gene Accession Number,1,2,3,4,5,6,7,8,...,35,36,37,38,28,29,30,31,32,33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-214,-139,-76,-135,-106,-138,-72,-413,...,7,-213,-25,-72,-4,15,-318,-32,-124,-135
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-153,-73,-49,-114,-125,-85,-144,-260,...,-100,-252,-20,-139,-116,-114,-192,-49,-79,-186
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,-58,-1,-307,265,-76,215,238,7,...,-57,136,124,-1,-125,2,-95,49,-37,-70
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,88,283,309,12,168,71,55,-2,...,132,318,325,392,241,193,312,230,330,337
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-295,-264,-376,-419,-230,-272,-399,-541,...,-377,-209,-396,-324,-191,-51,-139,-367,-188,-407

In [ ]:
#dropping columns Gene Description and Gene Accession Number

In [9]:
train_data = train_data.drop(columns=train_data.columns[:2])
train_data.head()

,1,2,3,4,5,6,7,8,9,10,...,35,36,37,38,28,29,30,31,32,33
0,-214,-139,-76,-135,-106,-138,-72,-413,5,-88,...,7,-213,-25,-72,-4,15,-318,-32,-124,-135
1,-153,-73,-49,-114,-125,-85,-144,-260,-127,-105,...,-100,-252,-20,-139,-116,-114,-192,-49,-79,-186
2,-58,-1,-307,265,-76,215,238,7,106,42,...,-57,136,124,-1,-125,2,-95,49,-37,-70
3,88,283,309,12,168,71,55,-2,268,219,...,132,318,325,392,241,193,312,230,330,337
4,-295,-264,-376,-419,-230,-272,-399,-541,-210,-178,...,-377,-209,-396,-324,-191,-51,-139,-367,-188,-407

In [10]:
test_data = test_data.drop(columns=test_data.columns[:2])
test_data.head()

,39,40,42,47,48,49,41,43,44,45,...,54,57,58,60,61,65,66,63,64,62
0,-342,-87,22,-243,-130,-256,-62,86,-146,-187,...,-90,-137,-157,-172,-47,-62,-58,-161,-48,-176
1,-200,-248,-153,-218,-177,-249,-23,-36,-74,-187,...,-87,-51,-370,-122,-442,-198,-217,-215,-531,-284
2,41,262,17,-163,-28,-410,-7,-141,170,312,...,102,-82,-77,38,-21,-5,63,-46,-124,-81
3,328,295,276,182,266,24,142,252,174,142,...,319,178,340,31,396,141,95,146,431,9
4,-224,-226,-211,-289,-170,-535,-233,-201,-32,114,...,-283,-135,-438,-201,-351,-256,-191,-172,-496,-294

In [11]:
#transpose the row and columns in train and test data so that row represent patients and columns represent genes
train_data = train_data.T
test_data = test_data.T

In [12]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
1,-214,-153,-58,88,-295,-558,199,-176,252,206,...,185,511,-125,389,-37,793,329,36,191,-37
2,-139,-73,-1,283,-264,-400,-330,-168,101,74,...,169,837,-36,442,-17,782,295,11,76,-14
3,-76,-49,-307,309,-376,-650,33,-367,206,-215,...,315,1199,33,168,52,1138,777,41,228,-41
4,-135,-114,265,12,-419,-585,158,-253,49,31,...,240,835,218,174,-110,627,170,-50,126,-91
5,-106,-125,-76,168,-230,-284,4,-122,70,252,...,156,649,57,504,-26,250,314,14,56,-25

In [13]:
test_data.head()

,0,1,2,3,4,5,6,7,8,9,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
39,-342,-200,41,328,-224,-427,-656,-292,137,-144,...,277,1023,67,214,-135,1074,475,48,168,-70
40,-87,-248,262,295,-226,-493,367,-452,194,162,...,83,529,-295,352,-67,67,263,-33,-33,-21
42,22,-153,17,276,-211,-250,55,-141,0,500,...,413,399,16,558,24,893,297,6,1971,-42
47,-243,-218,-163,182,-289,-268,-285,-172,52,-134,...,174,277,6,81,2,722,170,0,510,-73
48,-130,-177,-28,266,-170,-326,-222,-93,10,159,...,233,643,51,450,-46,612,370,29,333,-19

In [14]:
train_data.isna().values.any()

False

In [15]:
test_data.isna().values.any()

False

In [16]:
label_df.isna().values.any()

False

In [17]:
train_data.shape

(38, 7129)

In [18]:
test_data.shape

(34, 7129)

In [19]:
#Converting categorical data in label_df

In [20]:
label_df.shape

(72, 2)

In [21]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
label_encoder = LabelEncoder()
label_df['Cancer_encoded'] = label_encoder.fit_transform(label_df['cancer'])

In [22]:
label_df.sample(10)

    patient cancer  Cancer_encoded
17       18    ALL               0
36       37    AML               1
71       72    ALL               0
25       26    ALL               0
48       49    ALL               0
31       32    AML               1
56       57    AML               1
26       27    ALL               0
20       21    ALL               0
23       24    ALL               0

In [23]:
#Here ALL -> 0 and AML -> 1

In [24]:
#Assigning the labels for the train and test data

In [25]:
train_data_x = train_data.reset_index(drop=True)
train_data_y = label_df[label_df.patient <= 38].reset_index(drop=True)

In [26]:
test_data_x = test_data.reset_index(drop=True)
test_data_y = label_df[label_df.patient > 38].reset_index(drop=True)

In [27]:
train_data_y = train_data_y.iloc[:,2]
train_data_y = train_data_y.tolist()

In [28]:
train_data_y

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [29]:
test_data_y = test_data_y.iloc[:,2]
test_data_y = test_data_y.tolist()

In [30]:
test_data_y

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0]

In [31]:
#Applying scaling
train_data_x = train_data_x.astype(float, 64)
test_data_x = test_data_x.astype(float, 64)

scaler = StandardScaler()
train_data_x_scaled = scaler.fit_transform(train_data_x)
test_data_x_scaled = scaler.fit_transform(test_data_x)

In [32]:
#Applying PCA to reduce the number of features
from sklearn.decomposition import PCA

In [33]:
pca = PCA()
train_X_scaled = train_data_x_scaled
pca.fit_transform(train_X_scaled)

array([[ 1.85447987e+01,  5.82694304e+00, -1.94423127e+01, ...,
        -3.14979582e+00, -5.19942835e-01,  1.45162143e-14],
       [-7.34138894e+00,  1.00086631e+01,  1.17956977e+01, ...,
         3.91741309e+00, -2.34562750e-01,  1.45162143e-14],
       [ 5.28521459e+01,  1.13906298e+01, -2.95485659e+01, ...,
        -3.08792878e+00,  3.61420168e+00,  1.45162143e-14],
       ...,
       [ 3.29958693e+00, -2.63018075e+01,  8.76633590e-01, ...,
        -7.79008035e-01, -5.71406496e+00,  1.45162143e-14],
       [ 3.14422261e+01, -8.74368454e+00,  9.76210148e+00, ...,
         2.42913115e+00,  4.83899287e-01,  1.45162143e-14],
       [ 7.48350965e+01, -2.30086262e+01,  4.09630984e+01, ...,
         6.81823148e-01,  1.78649973e+00,  1.45162143e-14]])

In [34]:
total_variance = sum(pca.explained_variance_)
no_features = 0
current_variance = 0

while current_variance / total_variance < 0.95:
    current_variance += pca.explained_variance_[no_features]
    no_features += 1

print(f'{no_features} features explain around 95% of the variance')

32 features explain around 95% of the variance

In [35]:
def pca_data(no_components, train_data_x_scaled, test_data_x_scaled):
    pca = PCA(n_components = no_components)
    train_X_pca = pca.fit_transform(train_data_x_scaled)
    train_X_pca = pd.DataFrame(train_X_pca)
    
    test_X_pca = pca.transform(test_data_x_scaled)
    test_X_pca = pd.DataFrame(test_X_pca)
    data = (train_X_pca, test_X_pca)
    
    return data

In [36]:
#Applying logistic regression, decision tree, support vector machine (SVM), and random forest classifiers
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [37]:
def log_reg(train_X, train_y, test_X):
    classifier = LogisticRegression()
    classifier.fit(train_X, train_y)
    
    predictions = classifier.predict(test_X)
    
    return predictions

def dec_tree(train_X, train_y, test_X):
    classifier = DecisionTreeClassifier(random_state=0)
    classifier.fit(train_X, train_y)
    
    predictions = classifier.predict(test_X)
    
    return predictions

def random_forest(train_X, train_y, test_X):
    classifier = RandomForestClassifier(random_state=0)
    classifier.fit(train_X, train_y)
    
    predictions = classifier.predict(test_X)
    
    return predictions

def svm(train_X, train_y, test_X):
    classifier = SVC()
    classifier.fit(train_X, train_y)
    
    predictions = classifier.predict(test_X)
    
    return predictions

In [41]:
#Using 32 features
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

train_X_32, test_X_32 = pca_data(32, train_data_x_scaled, test_data_x_scaled)

LR_32 = log_reg(train_X_32, train_data_y, test_X_32)
acc_LR_32 = accuracy_score(test_data_y, LR_32)
print("Accuracy of Logistic regression model with 32 features: ",acc_LR_32)
print("\n")
LR_32_cm = confusion_matrix(test_data_y, LR_32)
print("Confusion matrix of Logistic regression model with 32 features:", LR_32_cm)
print("\n")

dec_tree_32 = dec_tree(train_X_32, train_data_y, test_X_32)
acc_dec_tree_32 = accuracy_score(test_data_y, dec_tree_32)
print("Accuracy of Decision tree model with 32 features: ",acc_dec_tree_32)
print("\n")
dec_tree_32_cm = confusion_matrix(test_data_y, dec_tree_32)
print("Confusion matrix of Decision tree model with 32 features:", LR_32_cm)
print("\n")

RF_32 = random_forest(train_X_32, train_data_y, test_X_32)
acc_RF_32 = accuracy_score(test_data_y, RF_32)
print("Accuracy of Random Forest model with 32 features: ",acc_RF_32)
print("\n")
RF_32_cm = confusion_matrix(test_data_y, RF_32)
print("Confusion matrix of Random Forest model with 32 features:", RF_32_cm)
print("\n")

SVM_32 = svm(train_X_32, train_data_y, test_X_32)
acc_SVM_32 = accuracy_score(test_data_y, SVM_32)
print("Accuracy of SVM model with 32 features: ",acc_SVM_32)
print("\n")
SVM_32_cm = confusion_matrix(test_data_y, SVM_32)
print("Confusion matrix of SVM model with 32 features:", SVM_32_cm)
print("\n")

Accuracy of Logistic regression model with 32 features:  0.5882352941176471


Confusion matrix of Logistic regression model with 32 features: [[17  3]
 [11  3]]


Accuracy of Decision tree model with 32 features:  0.6176470588235294


Confusion matrix of Decision tree model with 32 features: [[17  3]
 [11  3]]


Accuracy of Random Forest model with 32 features:  0.5882352941176471


Confusion matrix of Random Forest model with 32 features: [[20  0]
 [14  0]]


Accuracy of SVM model with 32 features:  0.6764705882352942


Confusion matrix of SVM model with 32 features: [[19  1]
 [10  4]]

In [42]:
#Using 15 features
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

train_X_15, test_X_15 = pca_data(15, train_data_x_scaled, test_data_x_scaled)

LR_15 = log_reg(train_X_15, train_data_y, test_X_15)
acc_LR_15 = accuracy_score(test_data_y, LR_15)
print("Accuracy of Logistic regression model with 15 features: ",acc_LR_15)
print("\n")
LR_15_cm = confusion_matrix(test_data_y, LR_15)
print("Confusion matrix of Logistic regression model with 15 features:", LR_15_cm)
print("\n")

dec_tree_15 = dec_tree(train_X_15, train_data_y, test_X_15)
acc_dec_tree_15 = accuracy_score(test_data_y, dec_tree_15)
print("Accuracy of Decision tree model with 15 features: ",acc_dec_tree_15)
print("\n")
dec_tree_15_cm = confusion_matrix(test_data_y, dec_tree_15)
print("Confusion matrix of Decision tree model with 15 features:", LR_15_cm)
print("\n")

RF_15 = random_forest(train_X_15, train_data_y, test_X_15)
acc_RF_15 = accuracy_score(test_data_y, RF_15)
print("Accuracy of Random Forest model with 15 features: ",acc_RF_15)
print("\n")
RF_15_cm = confusion_matrix(test_data_y, RF_15)
print("Confusion matrix of Random Forest model with 15 features:", RF_15_cm)
print("\n")

SVM_15 = svm(train_X_15, train_data_y, test_X_15)
acc_SVM_15 = accuracy_score(test_data_y, SVM_15)
print("Accuracy of SVM model with 15 features: ",acc_SVM_15)
print("\n")
SVM_15_cm = confusion_matrix(test_data_y, SVM_15)
print("Confusion matrix of SVM model with 15 features:", SVM_15_cm)
print("\n")

Accuracy of Logistic regression model with 15 features:  0.5588235294117647


Confusion matrix of Logistic regression model with 15 features: [[16  4]
 [11  3]]


Accuracy of Decision tree model with 15 features:  0.6176470588235294


Confusion matrix of Decision tree model with 15 features: [[16  4]
 [11  3]]


Accuracy of Random Forest model with 15 features:  0.6176470588235294


Confusion matrix of Random Forest model with 15 features: [[20  0]
 [13  1]]


Accuracy of SVM model with 15 features:  0.6470588235294118


Confusion matrix of SVM model with 15 features: [[18  2]
 [10  4]]

In [43]:
#Using 7 features
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

train_X_7, test_X_7 = pca_data(7, train_data_x_scaled, test_data_x_scaled)

LR_7 = log_reg(train_X_7, train_data_y, test_X_7)
acc_LR_7 = accuracy_score(test_data_y, LR_7)
print("Accuracy of Logistic regression model with 7 features: ",acc_LR_7)
print("\n")
LR_7_cm = confusion_matrix(test_data_y, LR_7)
print("Confusion matrix of Logistic regression model with 7 features:", LR_7_cm)
print("\n")

dec_tree_7 = dec_tree(train_X_7, train_data_y, test_X_7)
acc_dec_tree_7 = accuracy_score(test_data_y, dec_tree_7)
print("Accuracy of Decision tree model with 7 features: ",acc_dec_tree_7)
print("\n")
dec_tree_7_cm = confusion_matrix(test_data_y, dec_tree_7)
print("Confusion matrix of Decision tree model with 7 features:", LR_7_cm)
print("\n")

RF_7 = random_forest(train_X_7, train_data_y, test_X_7)
acc_RF_7 = accuracy_score(test_data_y, RF_7)
print("Accuracy of Random Forest model with 7 features: ",acc_RF_7)
print("\n")
RF_7_cm = confusion_matrix(test_data_y, RF_7)
print("Confusion matrix of Random Forest model with 7 features:", RF_7_cm)
print("\n")

SVM_7 = svm(train_X_7, train_data_y, test_X_7)
acc_SVM_7 = accuracy_score(test_data_y, SVM_7)
print("Accuracy of SVM model with 7 features: ",acc_SVM_7)
print("\n")
SVM_7_cm = confusion_matrix(test_data_y, SVM_7)
print("Confusion matrix of SVM model with 7 features:", SVM_7_cm)
print("\n")

Accuracy of Logistic regression model with 7 features:  0.6176470588235294


Confusion matrix of Logistic regression model with 7 features: [[16  4]
 [ 9  5]]


Accuracy of Decision tree model with 7 features:  0.6176470588235294


Confusion matrix of Decision tree model with 7 features: [[16  4]
 [ 9  5]]


Accuracy of Random Forest model with 7 features:  0.6764705882352942


Confusion matrix of Random Forest model with 7 features: [[20  0]
 [11  3]]


Accuracy of SVM model with 7 features:  0.6176470588235294


Confusion matrix of SVM model with 7 features: [[17  3]
 [10  4]]

In [44]:
#Using 3 features
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

train_X_3, test_X_3 = pca_data(3, train_data_x_scaled, test_data_x_scaled)

LR_3 = log_reg(train_X_3, train_data_y, test_X_3)
acc_LR_3 = accuracy_score(test_data_y, LR_3)
print("Accuracy of Logistic regression model with 3 features: ",acc_LR_3)
print("\n")
LR_3_cm = confusion_matrix(test_data_y, LR_3)
print("Confusion matrix of Logistic regression model with 3 features:", LR_3_cm)
print("\n")

dec_tree_3 = dec_tree(train_X_3, train_data_y, test_X_3)
acc_dec_tree_3 = accuracy_score(test_data_y, dec_tree_3)
print("Accuracy of Decision tree model with 3 features: ",acc_dec_tree_3)
print("\n")
dec_tree_3_cm = confusion_matrix(test_data_y, dec_tree_3)
print("Confusion matrix of Decision tree model with 3 features:", LR_3_cm)
print("\n")

RF_3 = random_forest(train_X_3, train_data_y, test_X_3)
acc_RF_3 = accuracy_score(test_data_y, RF_3)
print("Accuracy of Random Forest model with 3 features: ",acc_RF_3)
print("\n")
RF_3_cm = confusion_matrix(test_data_y, RF_3)
print("Confusion matrix of Random Forest model with 3 features:", RF_3_cm)
print("\n")

SVM_3 = svm(train_X_3, train_data_y, test_X_3)
acc_SVM_3 = accuracy_score(test_data_y, SVM_3)
print("Accuracy of SVM model with 3 features: ",acc_SVM_3)
print("\n")
SVM_3_cm = confusion_matrix(test_data_y, SVM_3)
print("Confusion matrix of SVM model with 3 features:", SVM_3_cm)
print("\n")

Accuracy of Logistic regression model with 3 features:  0.5882352941176471


Confusion matrix of Logistic regression model with 3 features: [[16  4]
 [10  4]]


Accuracy of Decision tree model with 3 features:  0.6176470588235294


Confusion matrix of Decision tree model with 3 features: [[16  4]
 [10  4]]


Accuracy of Random Forest model with 3 features:  0.6470588235294118


Confusion matrix of Random Forest model with 3 features: [[20  0]
 [12  2]]


Accuracy of SVM model with 3 features:  0.6176470588235294


Confusion matrix of SVM model with 3 features: [[17  3]
 [10  4]]

In [45]:
#Using 2 features
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

train_X_2, test_X_2 = pca_data(2, train_data_x_scaled, test_data_x_scaled)

LR_2 = log_reg(train_X_2, train_data_y, test_X_2)
acc_LR_2 = accuracy_score(test_data_y, LR_2)
print("Accuracy of Logistic regression model with 2 features: ",acc_LR_2)
print("\n")
LR_2_cm = confusion_matrix(test_data_y, LR_2)
print("Confusion matrix of Logistic regression model with 2 features:", LR_2_cm)
print("\n")

dec_tree_2 = dec_tree(train_X_2, train_data_y, test_X_2)
acc_dec_tree_2 = accuracy_score(test_data_y, dec_tree_2)
print("Accuracy of Decision tree model with 2 features: ",acc_dec_tree_2)
print("\n")
dec_tree_2_cm = confusion_matrix(test_data_y, dec_tree_2)
print("Confusion matrix of Decision tree model with 2 features:", LR_2_cm)
print("\n")

RF_2 = random_forest(train_X_2, train_data_y, test_X_2)
acc_RF_2 = accuracy_score(test_data_y, RF_2)
print("Accuracy of Random Forest model with 2 features: ",acc_RF_2)
print("\n")
RF_2_cm = confusion_matrix(test_data_y, RF_2)
print("Confusion matrix of Random Forest model with 2 features:", RF_2_cm)
print("\n")

SVM_2 = svm(train_X_2, train_data_y, test_X_2)
acc_SVM_2 = accuracy_score(test_data_y, SVM_2)
print("Accuracy of SVM model with 2 features: ",acc_SVM_2)
print("\n")
SVM_2_cm = confusion_matrix(test_data_y, SVM_2)
print("Confusion matrix of SVM model with 2 features:", SVM_2_cm)
print("\n")

Accuracy of Logistic regression model with 2 features:  0.6176470588235294


Confusion matrix of Logistic regression model with 2 features: [[19  1]
 [12  2]]


Accuracy of Decision tree model with 2 features:  0.5588235294117647


Confusion matrix of Decision tree model with 2 features: [[19  1]
 [12  2]]


Accuracy of Random Forest model with 2 features:  0.6176470588235294


Confusion matrix of Random Forest model with 2 features: [[18  2]
 [11  3]]


Accuracy of SVM model with 2 features:  0.5588235294117647


Confusion matrix of SVM model with 2 features: [[15  5]
 [10  4]]